@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    text-align: center;
}

html, body
 {margin: 0; 
    /* max-height: 100vh; */
     overflow: hidden;
     font-family: Noto Sans;
    }

nav{
    display:flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    padding:10px;
    font-weight: bold;
    font-size: 13px;
}
article{
    text-align:center;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);

    width:100%;
    z-index: 2;
    position: relative;
    transform: translate(0,-240%);
    height:18vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

a{
    padding:5px;
    color:#111211;
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-around;
    width:30%;
    align-items: center;
}
.logo{
    width:25%;
}
h1{
    width:35%;
    margin:auto;
    color:#111211;
    transform: translate(0,50%);
}

span{
    color:#BF7E04;
}
button{
    padding:12px 0;
    border:none;
   color:#111211;
   background-color: #F2F2F2;
   min-width: 60px;
   border-radius: 24px;
}
.signIn{
    color:#fff;
    background-color: #e60023;
} 
footer{
    padding:5px;
    display:flex;
    justify-content: center;
    background-color: #F2EB8D;
    z-index: 3; 
  position: relative;
  transform: translate(0,-710%);
  font-weight: bold;
    font-size: 13px;
}
footer img{
    padding-left: 1px;
    position: relative;
    z-index: 7; 
}

.imgs{
    display:flex;
    justify-content:space-around;
    
    /* height:100vh; */
    /* align-items: flex-end ; */
    
}

div{
    width:13.8vw;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-shrink:0;
}

div img{
    height:48%;
    width:100%;
    border-radius: 10px;
}
.long{
    /* height:100vh; */
   
}

.mid{
   
transform: translate(0,15%);
}
.mid2{
   
    transform: translate(0,30%);
    }
.frth{
    transform: translate(0,45%);
}

.long img{
    width:100%;
}